{% extends "home/home.html" %}

{% block homeContent %}
<div class="row">
  <div class="col s12" id="info-tkb" data-idtkb="{{idtkb}}">
 
    <form action="" method="POST" class="col s12 card-panel form-input" >
        <h5 class="form-title">Thông tin giảng đường</h5> 
      <div class="row">
        <div class="input-field col m6 s12">
          <select name="giangduong" id="select-gd-tkb">
            <option value="">Giảng đường</option>
            {% for gd in listGiangDuong %}
              <option value={{gd.id}} {% if gd.id == giangduong.id %}selected{% endif %}>{{gd.toanha}} - {{gd.tenphong}}
            </option>
            {% endfor %}
          </select>
          <label>Giảng duong</label>
        </div>
      </div>

      </div>
    </form>
    {% if giangduong %}
    <h5 class="center-align">Lịch giảng đường <span class="light-blue-text">{{ giangduong.toanha }}  - {{giangduong.tenphong}}</span>
    </h5>
    {% endif %}
  <div class="responsive-table" >
    <table class="centered striped highlight">
      <thead class="table-head ">
        <tr>
          <th style="width: 100px;"></th>
          <th style="width: 200px;">Tiết 1</th>
          <th style="width: 200px;">Tiết 2</th>
          <th style="width: 200px;">Tiết 3</th>
          <th style="width: 200px;">Tiết 4</th>
          <th style="width: 200px;">Tiết 5</th>
          <th style="width: 200px;">Tiết 6</th>
          <th style="width: 200px;">Tiết 7</th>
          <th style="width: 200px;">Tiết 8</th>
          <th style="width: 200px;">Tiết 9</th>
          <th style="width: 200px;">Tiết 10</th>
          <th style="width: 200px;">Tiết 11</th>
          <th style="width: 200px;">Tiết 12</th>
        </tr>
      </thead>
      <tbody class="lop-table-body">
        <tr>
          <td>Thứ 2</td>
          {% for thuHai in danhSachTkb.thuHai %}
          <td>
            {% for monHocTheoTiet in thuHai %}
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Thứ 3</td>
          {% for thuBa in danhSachTkb.thuBa %}
          <td>
            {% for monHocTheoTiet in thuBa %}
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Thứ 4</td>
          {% for thuTu in danhSachTkb.thuTu %}
          <td>
            {% for monHocTheoTiet in thuTu %} 
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
             {% endfor %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Thứ 5</td>
          {% for thuNam in danhSachTkb.thuNam %}
          <td>
            {% for monHocTheoTiet in thuNam %}
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Thứ 6</td>
          {% for thuSau in danhSachTkb.thuSau %}
          <td>
            {% for monHocTheoTiet in thuSau %}
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/js/tkb-phong.js"></script>
{% endblock %}
