{% extends "home/home.html" %}

{% block homeContent %}
<div class="row">
  <div class="col s12" id="info-tkb" data-idtkb="{{idtkb}}">
 
    <form action="" method="POST" class="col s12 card-panel form-input" >
        <h5 class="form-title">Thông tin lớp học phần</h5> 
      <div class="row">
        <div class="input-field col m6 s12">
          <select name="kyhoc" id="select-kh-tkb">
            <option value="">Kỳ học</option>
            {% for kh in listKyHoc %}
            <option value={{kh.id}} {% if kh.id == kyhoc.id %}selected{% endif %}>{{kh.name}}
            </option>
            {% endfor %}
          </select>
          <label>Chọn kỳ học</label>
        </div>
        <div class="input-field col m6 s12">
          <select name="giangvien" id="select-gv-tkb">
            <option value="">Tất cả giảng viên</option>
            {% for teacher in listTeacherNew %}
            <option value={{teacher.id}} {% if giangvien.id == teacher.id %}selected{% endif %}>{{teacher.name}}
            </option>
            {% endfor %}
          </select>
          <label>Giảng viên</label>
        </div>
        <button class="btn waves-effect waves-light center btn-submit light-blue " type="submit">TÌm kiếm
            <i class="material-icons right">send</i>
        </button>
      </div>

    </form>
    {% if giangvien %}
    <h5 class="center-align">Lịch giảng dạy của giảng viên: <span class="light-blue-text">{{ giangvien.name }}</span>
    </h5>
    {% endif %}
  <div class="responsive-table" >
    <table class="centered striped highlight">
      <thead class="table-head ">
        <tr>
          <th style="width: 100px;"></th>
          <th style="width: 200px;">Tiết 1</th>
          <th style="width: 200px;">Tiết 2</th>
          <th style="width: 200px;">Tiết 3</th>
          <th style="width: 200px;">Tiết 4</th>
          <th style="width: 200px;">Tiết 5</th>
          <th style="width: 200px;">Tiết 6</th>
          <th style="width: 200px;">Tiết 7</th>
          <th style="width: 200px;">Tiết 8</th>
          <th style="width: 200px;">Tiết 9</th>
          <th style="width: 200px;">Tiết 10</th>
          <th style="width: 200px;">Tiết 11</th>
          <th style="width: 200px;">Tiết 12</th>
        </tr>
      </thead>
      <tbody class="lop-table-body">
        <tr>
          <td>Thứ 2</td>
          {% for thuHai in danhSachTkb.thuHai %}
          <td>
            {% for monHocTheoTiet in thuHai %}
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Thứ 3</td>
          {% for thuBa in danhSachTkb.thuBa %}
          <td>
            {% for monHocTheoTiet in thuBa %}
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Thứ 4</td>
          {% for thuTu in danhSachTkb.thuTu %}
          <td>
            {% for monHocTheoTiet in thuTu %} 
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
             {% endfor %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Thứ 5</td>
          {% for thuNam in danhSachTkb.thuNam %}
          <td>
            {% for monHocTheoTiet in thuNam %}
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>Thứ 6</td>
          {% for thuSau in danhSachTkb.thuSau %}
          <td>
            {% for monHocTheoTiet in thuSau %}
            <div>{{monHocTheoTiet.thongtinLop.malophocphan}} {{monHocTheoTiet.thongtinMonHoc.name}}   </br>
              -({{monHocTheoTiet.thongtinGiangDuong.toanha }}{{monHocTheoTiet.thongtinGiangDuong.tenphong}})
            </div>
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/js/tkb.js"></script>
{% endblock %}
