{% extends "layout/layout.html" %}

{% block content %}
<div class="row">
  <div class="col m8 offset-m2 s12">
    <form action="/edit/lop/{{dataEdit.id}}" method="POST" class="col s12 card-panel form-input">
      <h5 class="form-title">Thông tin Lớp</h5>
      <div class="row">
        <div class="input-field col m6 s12">
          <input id="first_name" type="text" class="validate" name="name" value="{{dataEdit.name}}">
          <label for="first_name">Tên lớp</label>
        </div>
        <div class="input-field col m6 s12">
          <input id="note" type="text" class="validate" name="khoahoc" value="{{dataEdit.khoahoc}}">
          <label for="note">Khoá học</label>
        </div>
        <div class="input-field col m6 s12">
          <select name="buoihoc" >
            <option value="" disabled>Chọn buổi học</option>
            <option value="s" {% if dataEdit.buoihoc == "s" %} selected {% endif %}>Buổi sáng</option>
            <option value="c" {% if dataEdit.buoihoc == "c" %} selected {% endif %}>Buổi chiều</option>
          </select>
          <label>Buổi học</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light center btn-submit light-blue" type="submit">Cập nhật thông tin lớp
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
  <script src="/js/monhoc.js"></script>
{% endblock %}
